In [3]:
import requests
import re
import json
import numpy as np
import pandas as pd

In [4]:
itemList = ['246015818','257954339','141970570','220802331','164592594','183295545','226098709','124461698','227459837','175960813','207484669','191322551','215480646','168990114','210231477','148118543','148118642','139828545','148844538','125368562','132904168','132908159','126708685','202960917','249168748','206174104','184649517','176934669','192027764','231200252','101208279','183451768','190300498','100213976','157136604','157548843']

In [5]:
def apiToData(item):

  #initial call to get the page no.
  item_id = item
  page_no = 0
  page_size = 49

  url = f"https://my.daraz.com.bd/pdp/review/getReviewList?itemId={item_id}&pageSize={page_size}&filter=0&sort=0&pageNo={page_no}"

  req = requests.get(url)
  response = req.json()

  #get data
  totalPages = response['model']['paging']['totalPages']
  data = {}

  for pages in range(totalPages):
    url = f"https://my.daraz.com.bd/pdp/review/getReviewList?itemId={item_id}&pageSize={page_size}&filter=0&sort=0&pageNo={pages}"

    req = requests.get(url)
    data[pages] = req.json()


  # extract comments with rating
  comments = []
  rating = []
  for page in data:
    for review in data[page]['model']['items']:
      comments.append(review["reviewContent"])
      rating.append(review["rating"])


  df = pd.DataFrame({'comments' : comments , 'rating' : rating })
  df = df.drop_duplicates()
  return df

In [6]:
dataset = []

for item in itemList:
  dataset.append(apiToData(item))
df = pd.concat(dataset)
df = df.dropna(axis=0)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7595 entries, 0 to 934
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   comments  7595 non-null   object
 1   rating    7595 non-null   int64
dtypes: int64(1), object(1)
memory usage: 178.0+ KB

In [8]:
df = df.drop_duplicates()
df['rating'].value_counts()

5    5611
4     503
1     405
3     322
2     173
Name: rating, dtype: int64

In [9]:
df

                                              comments  rating
0    ‡¶Æ‡ßã‡¶¨‡¶æ‡¶á‡¶≤ ‡¶°‡ßá ‡¶ü‡ßÅ ‡¶°‡ßá ‡¶â‡¶á‡¶ú‡ßá‡¶∞ ‡¶ú‡¶®‡ßç‡¶Ø ‡¶Ö‡¶®‡ßá‡¶ï ‡¶≠‡¶æ‡¶≤‡•§ ‡¶ï‡¶ø‡¶®‡ßç‡¶§‡ßÅ ‡¶¨‡¶ï...       5
1    ‡¶è‡¶ü‡¶æ ‡¶è‡¶§‡ßã‡¶á ‡¶≠‡¶æ‡¶≤‡ßã ‡¶õ‡¶ø‡¶≤‡ßã ‡¶Ø‡ßá ‡¶ñ‡ßÅ‡¶∂‡¶ø ‡¶π‡ßü‡ßá ‡ß®‡ßü ‡¶Ü‡¶∞ ‡¶è‡¶ï‡¶ü‡¶æ ‡¶ï‡¶ø‡¶®‡ßá...       5
2    ‡¶≠‡¶æ‡¶≤‡ßã‡¶á‡•§ ‡¶§‡¶¨‡ßá ‡¶è‡¶§‡ßã ‡¶¶‡¶æ‡¶Æ‡ßá sd 680 ‡¶Æ‡¶æ‡¶®‡¶æ‡¶Ø‡¶º ‡¶®‡¶æ‡•§ ‡¶ï‡ßç‡¶Ø‡¶æ‡¶Æ‡ßá‡¶∞‡¶æ...       3
3    ‡¶Æ‡ßã‡¶¨‡¶æ‡¶á‡¶≤ ‡¶π‡¶æ‡¶§‡ßá ‡¶™‡ßá‡¶Ø‡¶º‡ßá‡¶õ‡¶ø ‡¶á‡¶®‡¶ü‡ßá‡¶ï, ‡¶≠‡ßá‡¶≤‡¶ø‡¶≠‡¶æ‡¶∞‡¶ø ‡¶¶‡ßç‡¶∞‡ßÅ‡¶§ ‡¶™‡ßá‡¶Ø‡¶º...       5
4    I took it very well. You can take it if you want.       5
..                                                 ...     ...
885                                              thnks       5
918                                               volo       5
929                                               bah!       5
932                                                5/5       5
934                                                  üëç       2

[7014 rows x 2 columns]

In [10]:
#only bangla comments

chars_bengali = [chr(c) for c in range(0x0980, 0x09ff)]
df_bengali = df[df.comments.str.contains('|'.join(chars_bengali)).fillna(False)]
df_bengali

                                              comments  rating
0    ‡¶Æ‡ßã‡¶¨‡¶æ‡¶á‡¶≤ ‡¶°‡ßá ‡¶ü‡ßÅ ‡¶°‡ßá ‡¶â‡¶á‡¶ú‡ßá‡¶∞ ‡¶ú‡¶®‡ßç‡¶Ø ‡¶Ö‡¶®‡ßá‡¶ï ‡¶≠‡¶æ‡¶≤‡•§ ‡¶ï‡¶ø‡¶®‡ßç‡¶§‡ßÅ ‡¶¨‡¶ï...       5
1    ‡¶è‡¶ü‡¶æ ‡¶è‡¶§‡ßã‡¶á ‡¶≠‡¶æ‡¶≤‡ßã ‡¶õ‡¶ø‡¶≤‡ßã ‡¶Ø‡ßá ‡¶ñ‡ßÅ‡¶∂‡¶ø ‡¶π‡ßü‡ßá ‡ß®‡ßü ‡¶Ü‡¶∞ ‡¶è‡¶ï‡¶ü‡¶æ ‡¶ï‡¶ø‡¶®‡ßá...       5
2    ‡¶≠‡¶æ‡¶≤‡ßã‡¶á‡•§ ‡¶§‡¶¨‡ßá ‡¶è‡¶§‡ßã ‡¶¶‡¶æ‡¶Æ‡ßá sd 680 ‡¶Æ‡¶æ‡¶®‡¶æ‡¶Ø‡¶º ‡¶®‡¶æ‡•§ ‡¶ï‡ßç‡¶Ø‡¶æ‡¶Æ‡ßá‡¶∞‡¶æ...       3
3    ‡¶Æ‡ßã‡¶¨‡¶æ‡¶á‡¶≤ ‡¶π‡¶æ‡¶§‡ßá ‡¶™‡ßá‡¶Ø‡¶º‡ßá‡¶õ‡¶ø ‡¶á‡¶®‡¶ü‡ßá‡¶ï, ‡¶≠‡ßá‡¶≤‡¶ø‡¶≠‡¶æ‡¶∞‡¶ø ‡¶¶‡ßç‡¶∞‡ßÅ‡¶§ ‡¶™‡ßá‡¶Ø‡¶º...       5
5    ‡¶Ü‡¶≤‡¶π‡¶æ‡¶Æ‡¶¶‡ßÅ‡¶≤‡¶ø‡¶≤‡ßç‡¶≤‡¶æ‡¶π, ‡¶†‡¶ø‡¶ï‡¶†‡¶æ‡¶ï ‡¶≠‡¶æ‡¶¨‡ßá ‡¶≠‡¶æ‡¶¨‡ßá ‡¶π‡¶æ‡¶§‡ßá ‡¶™‡ßá‡ßü‡ßá‡¶õ‡¶ø‡•§ ...       5
..                                                 ...     ...
812                                         ‡¶ö‡¶≤‡¶§‡¶ø ‡¶Æ‡¶æ‡¶®‡ßá‡¶∞       4
821                                          ‡¶≠‡¶æ‡¶≤‡ßã ‡¶™‡¶®‡ßç‡¶Ø       5
829                                          ‡¶Æ‡ßã‡¶ü‡¶æ‡¶Æ‡ßÅ‡¶ü‡¶ø‡•§       5
844                                           ‡¶Ü‡¶†‡¶æ ‡¶ï‡¶Æ,        4
853                                            ‡¶ö‡¶Æ‡ßé‡¶ï‡¶æ‡¶∞        5

[2813 rows x 2 columns]

In [11]:
# bangla good
bnGood= df_bengali[df_bengali['rating'] >= 4] 
bnGood.to_csv('bnGood.csv', index=False)
bnGoodCsv = pd.read_csv('bnGood.csv')
bnGoodCsv

                                               comments  rating
0     ‡¶Æ‡ßã‡¶¨‡¶æ‡¶á‡¶≤ ‡¶°‡ßá ‡¶ü‡ßÅ ‡¶°‡ßá ‡¶â‡¶á‡¶ú‡ßá‡¶∞ ‡¶ú‡¶®‡ßç‡¶Ø ‡¶Ö‡¶®‡ßá‡¶ï ‡¶≠‡¶æ‡¶≤‡•§ ‡¶ï‡¶ø‡¶®‡ßç‡¶§‡ßÅ ‡¶¨‡¶ï...       5
1     ‡¶è‡¶ü‡¶æ ‡¶è‡¶§‡ßã‡¶á ‡¶≠‡¶æ‡¶≤‡ßã ‡¶õ‡¶ø‡¶≤‡ßã ‡¶Ø‡ßá ‡¶ñ‡ßÅ‡¶∂‡¶ø ‡¶π‡ßü‡ßá ‡ß®‡ßü ‡¶Ü‡¶∞ ‡¶è‡¶ï‡¶ü‡¶æ ‡¶ï‡¶ø‡¶®‡ßá...       5
2     ‡¶Æ‡ßã‡¶¨‡¶æ‡¶á‡¶≤ ‡¶π‡¶æ‡¶§‡ßá ‡¶™‡ßá‡¶Ø‡¶º‡ßá‡¶õ‡¶ø ‡¶á‡¶®‡¶ü‡ßá‡¶ï, ‡¶≠‡ßá‡¶≤‡¶ø‡¶≠‡¶æ‡¶∞‡¶ø ‡¶¶‡ßç‡¶∞‡ßÅ‡¶§ ‡¶™‡ßá‡¶Ø‡¶º...       5
3     ‡¶Ü‡¶≤‡¶π‡¶æ‡¶Æ‡¶¶‡ßÅ‡¶≤‡¶ø‡¶≤‡ßç‡¶≤‡¶æ‡¶π, ‡¶†‡¶ø‡¶ï‡¶†‡¶æ‡¶ï ‡¶≠‡¶æ‡¶¨‡ßá ‡¶≠‡¶æ‡¶¨‡ßá ‡¶π‡¶æ‡¶§‡ßá ‡¶™‡ßá‡ßü‡ßá‡¶õ‡¶ø‡•§ ...       5
4     ‡¶´‡ßã‡¶® ‡¶è‡¶ï‡¶¶‡¶Æ ‡¶Ö‡¶´‡¶ø‡¶∂‡¶ø‡ßü‡¶æ‡¶≤ ‡¶è‡¶¨‡¶Ç ‡¶á‡¶®‡¶ü‡ßá‡¶ï ‡¶π‡¶æ‡¶§‡ßá ‡¶™‡ßá‡ßü‡ßá‡¶õ‡¶ø,‡¶Ü‡¶≤‡¶π‡¶æ‡¶Æ‡¶¶...       5
...                                                 ...     ...
2406                                         ‡¶ö‡¶≤‡¶§‡¶ø ‡¶Æ‡¶æ‡¶®‡ßá‡¶∞       4
2407                                          ‡¶≠‡¶æ‡¶≤‡ßã ‡¶™‡¶®‡ßç‡¶Ø       5
2408                                          ‡¶Æ‡ßã‡¶ü‡¶æ‡¶Æ‡ßÅ‡¶ü‡¶ø‡•§       5
2409                                           ‡¶Ü‡¶†‡¶æ ‡¶ï‡¶Æ,        4
2410                                            ‡¶ö‡¶Æ‡ßé‡¶ï‡¶æ‡¶∞        5

[2411 rows x 2 columns]

In [12]:
# bangla bad
bnBad= df_bengali[df_bengali['rating'] <= 3] 
bnBad.to_csv('bnBad.csv', index=False)
bnBadCsv = pd.read_csv('bnBad.csv')
bnBadCsv

                                              comments  rating
0    ‡¶≠‡¶æ‡¶≤‡ßã‡¶á‡•§ ‡¶§‡¶¨‡ßá ‡¶è‡¶§‡ßã ‡¶¶‡¶æ‡¶Æ‡ßá sd 680 ‡¶Æ‡¶æ‡¶®‡¶æ‡¶Ø‡¶º ‡¶®‡¶æ‡•§ ‡¶ï‡ßç‡¶Ø‡¶æ‡¶Æ‡ßá‡¶∞‡¶æ...       3
1    ‡¶Æ‡¶®‡ßá ‡¶π‡¶ö‡ßç‡¶õ‡ßá ‡¶°‡¶ø‡¶∏‡¶™‡ßá‡¶≤‡ßá ‡¶§‡ßá ‡¶Ü‡¶†‡¶æ ‡¶≤‡¶æ‡¶ó‡¶æ‡¶®‡ßã ‡¶ï‡¶æ‡¶∞‡¶® ‡¶ï‡¶ø? ‡¶ú‡¶æ‡¶®‡¶§‡ßá...       2
2    ‡ß© ‡¶Æ‡¶æ‡¶∏ ‡¶¨‡ßç‡¶Ø‡¶æ‡¶¨‡¶π‡¶æ‡¶∞‡ßá‡¶∞ ‡¶™‡¶∞‡ßá ‡¶∞‡¶ø‡¶≠‡¶ø‡¶â ‡¶¶‡¶ø‡¶ö‡ßç‡¶õ‡¶ø, ‡¶¶‡¶æ‡¶Æ ‡¶π‡¶ø‡¶∏‡¶æ‡¶¨‡ßá ...       2
3    ‡¶∏‡ßç‡¶™‡ßá‡¶ï‡ßá‡¶∞ ‡¶§‡ßÅ‡¶≤‡¶®‡¶æ‡ßü ‡¶¶‡¶æ‡¶Æ ‡¶è‡¶ï‡¶ü‡ßÅ ‡¶¨‡ßá‡¶∂‡¶ø ‡¶π‡¶≤‡ßá‡¶ì ‡¶´‡ßã‡¶®‡¶ü‡¶æ ‡¶ñ‡¶æ‡¶∞‡¶æ‡¶™ ...       3
4                       IMEI ‡¶∏‡¶π ‡¶è‡¶ï‡¶ü‡¶æ ‡¶Æ‡ßá‡¶Æ‡ßã ‡¶¶‡¶ø‡¶≤‡ßá ‡¶≠‡¶æ‡¶≤ ‡¶π‡¶á‡¶§       2
..                                                 ...     ...
397                             ‡¶è‡¶ï‡¶ü‡ßÅ ‡¶™‡¶∞‡ßá‡¶á ‡¶Ü‡¶†‡¶æ ‡¶â‡¶†‡ßá ‡¶Ø‡¶æ‡ßüüò¥       2
398                              ‡¶™‡ßç‡¶Ø‡¶æ‡¶ï‡ßá‡¶ú‡¶ø‡¶Ç ‡¶≠‡¶æ‡¶≤ ‡¶õ‡¶ø‡¶≤ ‡¶®‡¶æ‡•§       3
399                                    ‡¶Æ‡ßã‡¶ü‡¶æ‡¶Æ‡ßÅ‡¶ü‡¶ø ‡¶ö‡¶≤‡¶¨‡ßá‡•§        1
400                                    ‡¶®‡¶ø‡¶Æ‡ßç‡¶®‡¶Æ‡¶æ‡¶®‡ßá‡¶∞ ‡¶Ö‡¶®‡ßá‡¶ï       1
401                                     ‡¶®‡¶∞‡¶Æ‡¶æ‡¶≤ ‡¶ï‡ßã‡ßü‡¶æ‡¶≤‡¶ø‡¶ü‡¶ø       3

[402 rows x 2 columns]

In [13]:
#only phonetic column
df_eng = pd.concat([df,df_bengali]).drop_duplicates(keep=False)
df_eng

                                              comments  rating
4    I took it very well. You can take it if you want.       5
6    Parcel received just now. Packaging was good. ...       5
9    Delivered within 18 hours and the phone is off...       4
10   It's a nice looking phone. faced no problem ye...       4
12   Recommend as it was cheaper than market and al...       5
..                                                 ...     ...
885                                              thnks       5
918                                               volo       5
929                                               bah!       5
932                                                5/5       5
934                                                  üëç       2

[4201 rows x 2 columns]

In [14]:
# phonetic good
phGood= df_eng[df_eng['rating'] >= 4] 
phGood.to_csv('phoneticGood.csv', index=False)
phGoodCsv = pd.read_csv('phoneticGood.csv')
phGoodCsv

                                               comments  rating
0     I took it very well. You can take it if you want.       5
1     Parcel received just now. Packaging was good. ...       5
2     Delivered within 18 hours and the phone is off...       4
3     It's a nice looking phone. faced no problem ye...       4
4     Recommend as it was cheaper than market and al...       5
...                                                 ...     ...
3698                                              Cool        5
3699                                              thnks       5
3700                                               volo       5
3701                                               bah!       5
3702                                                5/5       5

[3703 rows x 2 columns]

In [15]:
# phonetic bad
phBad= df_eng[df_eng['rating'] <= 3] 
phBad.to_csv('phoneticBad.csv', index=False)
phBadCsv = pd.read_csv ('phoneticBad.csv')
phBadCsv

                                              comments  rating
0    I bought the phone in 26k but now the phone is...       3
1    dui no product dise.keo kinben na. bipod e por...       1
2    Why you are providing bills without IMIE no in...       2
3    Give intact but not given any kinds of money r...       3
4                  GSMArena 8/128 nai, camera valo na.       3
..                                                 ...     ...
493                                        Bad quality       1
494                                          motamoti        2
495                                             Medium       3
496                                              Valoi       3
497                                                  üëç       2

[498 rows x 2 columns]